

.App {
    width: 76%;
    margin-inline: auto;
    max-width: 1920px;
}

.container {
    margin-top: 2rem;
}

.filter {
    width: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 4rem;
}

.filter__container {
    margin-top: 0.5rem;
}

.dates {
   /*  margin-top: 3rem; */
    /* width: 200px; */
}

.fetchButton {
    margin-top: 0.6rem;
}

.chart {
    width: 500px;
    margin-top: 3rem;
    margin-left: 10rem;
}


/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .filter {
        width: 80px;
        display: grid;
        grid-template-columns: 1fr;
        /* gap: 2rem 4rem; */
    }

    .filter__container {
        width: 150px;
    }

    .chart {
        margin-left: 1rem;
        width: 500px;
    }
}


/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .filter__container {
        width: 150px;
    }

    .chart {
        margin-top: 1rem;
        margin-left: 1rem;
        width: 400px;
    }
}